:root {
  --c-basic: #4D5AE5;
  --c-primary: #2E2F42;
  --c-primary-light: #FFF;
  --c-active: #404BBF;
  --c-text: #434455;
  --c-text-footer: #F4F4FD;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}
 a {
    text-decoration: none;
 }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    }
    .section {
    padding: 120px 0;
    }
    .header{
    border-bottom: 1px solid #e7e9fc;
    }
    .container-header {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    }
    .logo-full {
    display: flex;
    margin-right: 76px;
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
    }
   
.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
     }
.logo-studio {
    color: #2e2f42;
    font-family: "Raleway",
        sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
     }
.menu {
    display: flex;
    gap: 40px;
          }
.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: 40px;
    padding: 24px 0;
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    }
.nav-link-end
 {
     color: #2E2F42;
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.02em;
     margin-right: 0px;
     padding: 24px 0;
     display: inline-flex;
     align-items: flex-start;
     gap: 40px;
 }
.nav-link .nav-link-end:active {
    color: #404BBF;
    }
.nav-link .nav-link-end:hover {
    color: #404bbf;
    }
    .nav-link .nav-link-end:focus {
    color: #404bbf;
    }
.info-adress {
    font-style: normal;
    display: flex;
    gap: 40px;
            }
.info-mail.info-tel {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.info-mail {
    width: 1440px;
    height: 72px;
    flex-shrink: 0;
}
.info-tel {
    margin-right: 0;
    width: 1440px;
    height: 72px;
    flex-shrink: 0;
}

.info-mail.info-tel:active {
    color: #404BBF;
}
.info-mail.info-tel:hover {
    color: #404bbf;
}
.info-mail.info-tel:focus {
    color: #404bbf;
}

.order-section {
    background: #2E2F42;
    flex-shrink: 0;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    padding: 188px 0;
    }
.order-title-section {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    text-align: center;
    max-width: 496px;
     }
.order-button {
    background: #4D5AE5;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin: 48px 635px 188px 636px;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.order-button:hover {
    background: #404BBF;
}
.order-button:focus{
    background-color: #404BBF
}
.section-order {
    padding: 120px 0;
    }
  .feature-list {
    display: flex;
    gap: 24px;
}
.feature {
    width: calc((100% - 72px) / 4);
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
       }
.order-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.order-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team-list-company{
    display: flex;
    gap: 24px;
}
.team-list {
    background-color: #FFFFFF;
    height: 732px;
    flex-shrink: 0;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.container-name {
    padding: 32px 0;
}
.team-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.11;
    margin-bottom: 72px;
}
.team-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    display: flex;
    width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
    margin-bottom: 8px;
}
.team-speciality {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    }
.portfolio {
    padding: 120px 0 120px 0;
    width: 1128px;
    height: 987px;
    flex-shrink: 0;
}
.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.list-portfolio-app {
    width: calc((100% - 48px) / 3);
}
.title-portfolio {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.11;
    margin-bottom: 72px;
}
.container-list-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-projects {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-project-type {
color: #434455;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.logo-footer {
    color: #4d5ae5;
    font-family: "Raleway",
        sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    margin: 100px 1169px 16px 156px;
    display: inline-block;
    }
    .logo-studio-footer {
       color: #F4F4FD;
    }
.footer {
    background-color: #2E2F42;
    font-weight: 400;
    padding: 100px 0;
    width: 1440px;
    height: 312px;
    flex-shrink: 0;
    }
.text-footer {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 140px 1020px 100px 156px;
}