:root {
  --c-basic: #4D5AE5;
  --c-primary: #2E2F42;
  --c-primary-light: #FFF;
  --c-active: #404BBF;
  --c-text: #434455;
  --c-text-footer: #F4F4FD;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}
 a {
    text-decoration: none;
 }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    }
    .section {
    padding: 120px 0;
    }
    .logo-full {
    margin: 24px 1169px 24px 156px;
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
    }
.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
     }
.logo-studio {
    color: #2e2f42;
    font-family: "Raleway",
        sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
     }
.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 24px 832px 24px 347px;
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    
    }
.nav-link:active {
    color: #404BBF;
    }
.nav-link:hover {
    color: #404bbf;
    }
    .nav-link:focus {
    color: #404bbf;
    }
.info-adress {
    font-style: normal;
        }
.info-mail.info-tel {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.info-mail {
margin: 24px 940px 24px 347px;
width: 1440px;
    height: 72px;
    flex-shrink: 0;
}
.info-tel {
margin: 24px 1133px 24px 156px;
width: 1440px;
    height: 72px;
    flex-shrink: 0;
}

.info-mail.info-tel:active {
    color: #404BBF;
}
.info-mail.info-tel:hover {
    color: #404bbf;
}
.info-mail.info-tel:focus {
    color: #404bbf;
}

.order-section {
    background: #2E2F42;
    flex-shrink: 0;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 72px 220px 2628px 220px;
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    }
.order-title-section {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    text-align: center;
    margin: 188px 472px 292px 472px;
    }
.order-button {
    background: #4D5AE5;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin: 48px 635px 188px 636px;
    padding: 16px 32px;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.order-button:hover {
    background: #404BBF;
}
.order-button:focus{
    background-color: #404BBF
}
.feature {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin: 224px 1020px 120px 156px;
}
.order-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.order-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
.team-section {
    background-color: #F4F4FD;
}
.team-list {
    background-color: #FFFFFF;
    margin: 232px 1020px 120px 156px;
    width: 1440px;
    height: 732px;
    flex-shrink: 0;

}
.team-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.11;
}
.team-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    display: flex;
    width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.team-speciality {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
.portfolio {
    width: 1128px;
    height: 987px;
    flex-shrink: 0;
    margin: 133px 156px 120px 156px;
    }
    }
.title-portfolio {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.11;
}
.portfolio-projects {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-project-type {
color: #434455;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.logo-footer {
    color: #4d5ae5;
    font-family: "Raleway",
        sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    margin: 100px 1169px 16px 156px;
    }
    .logo-studio-footer {
       color: #F4F4FD;
    }
.footer {
    background-color: #2E2F42;
    font-weight: 400;
    width: 1440px;
    height: 312px;
    flex-shrink: 0;
    }
.text-footer {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 140px 1020px 100px 156px;
}